@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arail, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(assets/hero-bg.jpg) no-repeat center center / cover;
}

.contenido {
  text-align: center;
  backdrop-filter: blur(2px); /*desenfoque sutil*/
}


.contenido h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.contenido p {
  font-size: 1.2rem;
  max-width: 500px;
}

.span1 {
  background: linear-gradient(135deg, hsl(51 100% 50%), hsl(14 100% 60%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-weight: 900;
  font-size: 4rem;

}


.span2{
  background: linear-gradient(135deg , hsl(4, 94%, 56%), hsl(216, 98%, 49%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-weight: 900;
  font-size: 5rem;
}

.descriptionHome p {
  font-size: 1.1rem;
  color: rgb(201, 198, 198)
}

.titleDashboard{
  display: flex;
  font-family:sans-serif;
  font-size: 5rem;
  justify-content: center;
  font-weight: 900;
  margin: 20px;
  margin-top: 200px;
  padding: 20px;
}

.container1{
  margin-top: 80px;
  gap: 20px;
  align-content: center;
}

.contenidoDashboard {
  text-align: start;
  backdrop-filter: blur(2px);
  justify-content: center; 
  gap: 20px;
}

.contenidoDashboard h1 {
  font-size: 5rem;
  margin-bottom: 10px;
}

.dashboardContainer{
  margin-top: 80px;
  background-color: rgb(8, 16, 27);
}